@import url(/css/styles.css);
body{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;

}

.btn-primary{
    background-color: #447bb5;
}

.odonto_card{
    border: 1px solid rgb(86 79 79) !important;
    margin: 1rem !important;
    border-radius: 0.5rem !important;
    padding: 2% !important;
    box-shadow: 1px 16px 28px -9px rgba(0,0,0,1)!important;
    -webkit-box-shadow: 1px 16px 28px -9px rgba(0,0,0,1)!important;
    -moz-box-shadow: 1px 16px 28px -9px rgba(0,0,0,1)!important;
    background-color: #d1d3d4 ;
}

.container-odonto{
    margin-top: 5rem !important;
    height: auto !important;
    width: auto !important;
    margin-top: 3rem !important;
    margin-bottom: 28rem;
    
}


#table_turnos{
    margin: 3rem 5rem;

}

